/* ============================================================
    基础字体颜色
============================================================ */
.color-white {
  color: #fff !important;
}
.color-black{
  color: #000000 !important;
}
.color-light-grey { //淡灰色
  color: #e3e3e3 !important;
}
.color-grey { //灰色
  color: #c4c4c4 !important;
}
.color-dark-grey { //深灰色
  color: #999 !important;
}
.color-darker-grey { //深深灰色
  color: #666 !important;
}
.color-light-blue { //亮蓝色
  color: #30b1df !important;
}
.color-blue { //蓝色
  color: #09c !important;
}
.color-dark-blue { //深蓝色
  color: #1674ce !important;
}
.color-orange { //橙色
  color: #ff6a00 !important;
}
.color-light-green { //亮绿色
  color: #71ab33 !important;
}
.color-green { //绿色
  color: #568b1d !important;
}
.color-lighter-red { //亮红色
  color: #fe6360 !important;
}
.color-red { //红色
  color: #bb4340 !important;
}
.color-dark-red { //深红色
  color: #ff3000 !important;
}



/* ============================================================
    基础背景颜色
============================================================ */
.bg-color-light-black { //灰白色
  background-color: #333 !important;
}
  .bg-color-light-grey { //淡灰色
  background-color: #e3e3e3 !important;
}
  .bg-color-grey { //灰色
  background-color: #c4c4c4 !important;
}
.bg-color-dark-grey { //深灰色
  background-color: #999 !important;
}
.bg-color-darker-grey { //深深灰色
  background-color: #666 !important;
}
.bg-color-light-blue { //亮蓝色
  background-color: #30b1df !important;
}
.bg-color-blue { //蓝色
  background-color: #09c !important;
}
.bg-color-dark-blue { //深蓝色
  background-color: #1674ce !important;
}
.bg-color-orange { //橙色
  background-color: #ff6a00 !important;
}
.bg-color-light-green { //亮绿色
  background-color: #71ab33 !important;
}
.bg-color-green { //绿色
  background-color: #568b1d !important;
}
.bg-color-lighter-red { //亮红色
  background-color: #fe6360 !important;
}
.bg-color-red { //红色
  background-color: #bb4340 !important;
}
.bg-color-dark-red { //深红色
  background-color: #ff3000 !important;
}

/* ============================================================
    组件特殊颜色
============================================================ */
//1:list
//2:tabs
