
/* ============================================================
    px转化成rem
============================================================ */
@function pxToRem($px) {
     @return $px/2 / 20 * 1rem;
}


/* ============================================================
   空数据和loading
============================================================ */
.icon-empty-custom {
    width: 130px;
    height: 64px;
    background-image: url("assets/images/no-data.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-empty {
    width: 130px;
    height: 64px;
    background-image: url("assets/images/no-data.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.loader {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 187px;
    height: 190px;
    margin-top: -95px;
    margin-left: -93px;
    background-image: url("assets/images/loading.gif") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
