<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广告轮换</title>
</head>
<body>
  <script type="text/html" id="tempalte-AdSlider">
        {{if (AdSlider.length > 0 )}}
        <div class=" slider-box " id="advertsBoxTop">
            <div class="slider">
                <ul class="slider-page">
                    {{each AdSlider}}
                    <li class="slider-page indexAd" data-url="{{$value.linkUrl}}">
                        <div class="empty-img-big ad-title" data-bg-src-small="{{$value.adPic}}" data-url="{{$value.adPic}}" style="background-image: url({{$value.adPic}});background-size: 100% 100%; "></div>
                    </li>
                    {{/each}}
                </ul>

                {{if (AdSlider.length > 1 )}}
                <div class="sub-pannel grid-list">
                    <div class="indicators  grid-list-item">
                        {{each AdSlider}}
                        <span class="indicator {{$index === 0 ? 'sel' : ''}}"></span> {{/each}}
                    </div>
                </div>
                {{/if }}
            </div>

        </div>
        {{/if}}
    </script>

</body>
</html>
