.slider-box {
  overflow: hidden; //为了防止移动端页面滑动
    background: #ffffff;
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translate3d(0, 0, 0);
}

.slider .slider-page {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sub-pannel {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 0 .5rem .4rem .5rem;
}

.indicators {
    width: 3rem;

    text-align: center;
    // vertical-align: middle;
}

.indicator {
    display: inline-block;

    width: 4px;
    height: 4px;

    vertical-align: middle;

    border-radius: 2px;
    background: rgba(255, 255, 255, .7);
}

.indicator.sel {
    width: 6px;
    height: 6px;

    border-radius: 3px;
    background: rgba(255, 255, 255, .8);
}

.slider .empty-img-big{
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.txtCenter{
  text-align: center;
}
